auth_enabled: false

ingester:
  # On réduit le délai de grâce à 0 pour un démarrage instantané
  lifecycler:
    join_after: 0s
    observe_period: 0s

common:
  path_prefix: /loki
  storage:
    filesystem:
      chunks_directory: /loki/chunks
      rules_directory: /loki/rules
  replication_factor: 1
  ring:
    kvstore:
      store: inmemory

ruler:
  alertmanager_url: http://localhost:9093

# Ton limits_config (parfait)
limits_config:
  ingestion_rate_mb: 8
  ingestion_burst_size_mb: 16
  max_entries_limit_per_query: 500000
  max_streams_per_user: 5000
  ingestion_rate_strategy: global

schema_config:
  configs:
    - from: 2025-01-01
      store: tsdb
      object_store: filesystem
      schema: v13
      index:
        prefix: index_
        period: 24h
      chunks:
        prefix: chunks_
        period: 24h

storage_config:
  filesystem:
    directory: /loki/chunks
  tsdb_shipper:
    active_index_directory: /loki/tsdb-index
    cache_location: /loki/tsdb-cache
    cache_ttl: 24h

# Module explicite pour mono-instance
target: all
