global:
  scrape_interval:     15s
  evaluation_interval: 15s

rule_files:
  - "alert.rules.yml"

alerting:
  alertmanagers:
    - static_configs:
        - targets: ['alertmanager:9093']

scrape_configs:
  - job_name: grafana
    static_configs:
      - targets: ['grafana:3000']
  - job_name: prometheus
    static_configs:
      - targets: ['prometheus:9090']
  - job_name: node-exporter
    static_configs:
      - targets: ['node-exporter:9100']
  - job_name: postgres-exporter
    static_configs:
      - targets: ['postgres-exporter:9187']
  #- job_name: python-app
  #  static_configs:
  #    - targets: ['python-app:8000']
