[Unit]
Description=Simulateur de load disk pour Grafana Test

After=network.target docker.service
Requires=docker.service

[Service]
Type=simple
User=alma
Group=alma
# Chemin vers le dossier contenant votre script
WorkingDirectory=/home/alma/grafana-ascent/load_test

# Utilisation directe du python dans le virtualenv
ExecStart=/home/alma/grafana-ascent/load_test/disk_cycle.py

# Redémarrage automatique en cas de crash
Restart=always
RestartSec=10

# --- CONFIGURATION MODERNE DES LOGS ---
# On laisse systemd gérer le flux vers journald
StandardOutput=journal
StandardError=journal
# Un identifiant pour filtrer facilement avec journalctl
SyslogIdentifier=grafana-simulator

[Install]
WantedBy=multi-user.target